<h3> Add a Sale </h3>

<form action="/home/AddSale" method="post">
<h5> Insert Product Info</h5>
<input type="text" name="ProductName" class="form-control" placeholder="Name of Product" />
<input type="text" name="price" class="form-control" placeholder="Price" />


<h5> Insert Buyer Info</h5>

<input type="text" name="BuyerName" class="form-control" placeholder="Buyer Name" />
<input type="text" name="PhoneNumber" class="form-control" placeholder="Buyer Phone Number" />

<h5>Payment Info</h5>
<input type="text" name="amount" class="form-control" placeholder="Initial Amount" />

<button class="btn btn-success">Submit</button>
</form>

